<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pxxysecondhand.mapper.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.pxxysecondhand.pojo.Item" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="itemTitle" property="itemtitle" jdbcType="VARCHAR" />
    <result column="currPrice" property="currprice" jdbcType="INTEGER" />
    <result column="formerPrice" property="formerprice" jdbcType="INTEGER" />
    <result column="itemImages" property="itemimages" jdbcType="VARCHAR" />
    <result column="itemDesc" property="itemdesc" jdbcType="VARCHAR" />
    <result column="icondition" property="icondition" jdbcType="INTEGER" />
    <result column="isInTrade" property="isintrade" jdbcType="INTEGER" />
    <result column="orderNum" property="ordernum" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="categoryId" property="categoryid" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, itemTitle, currPrice, formerPrice, itemImages, itemDesc, icondition, isInTrade, 
    orderNum, userId, categoryId, created, updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pxxysecondhand.pojo.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pxxysecondhand.pojo.ItemExample" >
    delete from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pxxysecondhand.pojo.Item" >
    insert into item (id, itemTitle, currPrice, 
      formerPrice, itemImages, itemDesc, 
      icondition, isInTrade, orderNum, 
      userId, categoryId, created, 
      updated)
    values (#{id,jdbcType=VARCHAR}, #{itemtitle,jdbcType=VARCHAR}, #{currprice,jdbcType=INTEGER}, 
      #{formerprice,jdbcType=INTEGER}, #{itemimages,jdbcType=VARCHAR}, #{itemdesc,jdbcType=VARCHAR}, 
      #{icondition,jdbcType=INTEGER}, #{isintrade,jdbcType=INTEGER}, #{ordernum,jdbcType=INTEGER}, 
      #{userid,jdbcType=VARCHAR}, #{categoryid,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pxxysecondhand.pojo.Item" >
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemtitle != null" >
        itemTitle,
      </if>
      <if test="currprice != null" >
        currPrice,
      </if>
      <if test="formerprice != null" >
        formerPrice,
      </if>
      <if test="itemimages != null" >
        itemImages,
      </if>
      <if test="itemdesc != null" >
        itemDesc,
      </if>
      <if test="icondition != null" >
        icondition,
      </if>
      <if test="isintrade != null" >
        isInTrade,
      </if>
      <if test="ordernum != null" >
        orderNum,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="categoryid != null" >
        categoryId,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="itemtitle != null" >
        #{itemtitle,jdbcType=VARCHAR},
      </if>
      <if test="currprice != null" >
        #{currprice,jdbcType=INTEGER},
      </if>
      <if test="formerprice != null" >
        #{formerprice,jdbcType=INTEGER},
      </if>
      <if test="itemimages != null" >
        #{itemimages,jdbcType=VARCHAR},
      </if>
      <if test="itemdesc != null" >
        #{itemdesc,jdbcType=VARCHAR},
      </if>
      <if test="icondition != null" >
        #{icondition,jdbcType=INTEGER},
      </if>
      <if test="isintrade != null" >
        #{isintrade,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pxxysecondhand.pojo.ItemExample" resultType="java.lang.Integer" >
    select count(*) from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.itemtitle != null" >
        itemTitle = #{record.itemtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.currprice != null" >
        currPrice = #{record.currprice,jdbcType=INTEGER},
      </if>
      <if test="record.formerprice != null" >
        formerPrice = #{record.formerprice,jdbcType=INTEGER},
      </if>
      <if test="record.itemimages != null" >
        itemImages = #{record.itemimages,jdbcType=VARCHAR},
      </if>
      <if test="record.itemdesc != null" >
        itemDesc = #{record.itemdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.icondition != null" >
        icondition = #{record.icondition,jdbcType=INTEGER},
      </if>
      <if test="record.isintrade != null" >
        isInTrade = #{record.isintrade,jdbcType=INTEGER},
      </if>
      <if test="record.ordernum != null" >
        orderNum = #{record.ordernum,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryid != null" >
        categoryId = #{record.categoryid,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update item
    set id = #{record.id,jdbcType=VARCHAR},
      itemTitle = #{record.itemtitle,jdbcType=VARCHAR},
      currPrice = #{record.currprice,jdbcType=INTEGER},
      formerPrice = #{record.formerprice,jdbcType=INTEGER},
      itemImages = #{record.itemimages,jdbcType=VARCHAR},
      itemDesc = #{record.itemdesc,jdbcType=VARCHAR},
      icondition = #{record.icondition,jdbcType=INTEGER},
      isInTrade = #{record.isintrade,jdbcType=INTEGER},
      orderNum = #{record.ordernum,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=VARCHAR},
      categoryId = #{record.categoryid,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pxxysecondhand.pojo.Item" >
    update item
    <set >
      <if test="itemtitle != null" >
        itemTitle = #{itemtitle,jdbcType=VARCHAR},
      </if>
      <if test="currprice != null" >
        currPrice = #{currprice,jdbcType=INTEGER},
      </if>
      <if test="formerprice != null" >
        formerPrice = #{formerprice,jdbcType=INTEGER},
      </if>
      <if test="itemimages != null" >
        itemImages = #{itemimages,jdbcType=VARCHAR},
      </if>
      <if test="itemdesc != null" >
        itemDesc = #{itemdesc,jdbcType=VARCHAR},
      </if>
      <if test="icondition != null" >
        icondition = #{icondition,jdbcType=INTEGER},
      </if>
      <if test="isintrade != null" >
        isInTrade = #{isintrade,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        orderNum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null" >
        categoryId = #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pxxysecondhand.pojo.Item" >
    update item
    set itemTitle = #{itemtitle,jdbcType=VARCHAR},
      currPrice = #{currprice,jdbcType=INTEGER},
      formerPrice = #{formerprice,jdbcType=INTEGER},
      itemImages = #{itemimages,jdbcType=VARCHAR},
      itemDesc = #{itemdesc,jdbcType=VARCHAR},
      icondition = #{icondition,jdbcType=INTEGER},
      isInTrade = #{isintrade,jdbcType=INTEGER},
      orderNum = #{ordernum,jdbcType=INTEGER},
      userId = #{userid,jdbcType=VARCHAR},
      categoryId = #{categoryid,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- S开始 -->
  <select id="showItem" resultType="com.pxxysecondhand.tempPojo.ItemDescResult" parameterType="java.lang.String">
SELECT i.id,itemTitle,currPrice,formerPrice,itemImages,itemDesc,icondition,i.`updated`,u.`id` AS userid,u.`username`,credit , i.`isInTrade` FROM item i,
  	 	`user` u  WHERE i.`userId`=u.`id` AND i.`id`=#{id,jdbcType=VARCHAR}
  </select>
  
  <select id="searchByKeywordsOrderByorderNum" resultType="com.pxxysecondhand.tempPojo.SearchItem">
  		SELECT i.`id`,i.`itemTitle` , i.`currPrice`,i.`itemImages`, u.`username`,u.`credit` ,
  		 i.`updated` FROM item i , `user` u  WHERE i.`userId`=u.id AND i.`isInTrade`='0' AND i.`itemTitle` 
  		 LIKE CONCAT('%',#{keywords},'%') ORDER BY i.`orderNum` DESC
  </select>
  
  <select id="searchByKeywordsOrderByPolishTime" resultType="com.pxxysecondhand.tempPojo.SearchItem">
  		SELECT i.`id`,i.`itemTitle` , i.`currPrice`,i.`itemImages`, u.`username`,u.`credit` ,
  		 i.`updated` FROM item i , `user` u  WHERE i.`userId`=u.id AND i.`isInTrade`='0' AND i.`itemTitle` 
  		 LIKE CONCAT('%',#{keywords},'%') ORDER BY i.`updated` DESC
  </select>
  
  <select id="searchByKeywordsOrderByCollectionNum" resultType="com.pxxysecondhand.tempPojo.SearchItem">
  		SELECT i.`id`,i.`itemTitle` , i.`currPrice`,i.`itemImages`, u.`username`,u.`credit` ,
  		 i.`updated`,COUNT(c.id) AS num FROM item AS i LEFT JOIN collection AS c ON c.`itemId` = i.id 
  		 INNER JOIN `user` AS u ON i.`userId` = u.`id` where  i.`isInTrade`='0' AND i.`itemTitle` 
  		 LIKE CONCAT('%',#{keywords},'%')  GROUP BY i.id  ORDER BY num DESC
  </select>
  
    <select id="searchByKeywordsOrderByAuthorCredit" resultType="com.pxxysecondhand.tempPojo.SearchItem">
  		SELECT i.`id`,i.`itemTitle` , i.`currPrice`,i.`itemImages`, u.`username`,u.`credit` ,
  		 i.`updated` FROM item i , `user` u  WHERE i.`userId`=u.id AND i.`isInTrade`='0' AND i.`itemTitle` 
  		 LIKE CONCAT('%',#{keywords},'%') ORDER BY u.`credit` DESC
  </select>
  
   <select id="searchByKeywordsOrderByPriceDesc" resultType="com.pxxysecondhand.tempPojo.SearchItem">
  		SELECT i.`id`,i.`itemTitle` , i.`currPrice`,i.`itemImages`, u.`username`,u.`credit` ,
  		 i.`updated` FROM item i , `user` u  WHERE i.`userId`=u.id AND i.`isInTrade`='0' AND i.`itemTitle` 
  		 LIKE CONCAT('%',#{keywords},'%') ORDER BY i.`currPrice` DESC
  </select>
  
   <select id="searchByKeywordsOrderByPriceAesc" resultType="com.pxxysecondhand.tempPojo.SearchItem">
  		SELECT i.`id`,i.`itemTitle` , i.`currPrice`,i.`itemImages`, u.`username`,u.`credit` ,
  		 i.`updated` FROM item i , `user` u  WHERE i.`userId`=u.id AND i.`isInTrade`='0' AND i.`itemTitle` 
  		 LIKE CONCAT('%',#{keywords},'%') ORDER BY i.`currPrice`
  </select>
  
</mapper>